/* add your CSS here */
.card {
    padding: 20px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    width: 350px;
    background-color: darkgreen;

}

.card-content {
    padding: 22px;
    background-color: whitesmoke;
    text-align: center;
}

.card-facts {
    padding: 10px;
    /*width: 300px;*/
    background-color: darkgreen;
    color: whitesmoke;
    border-radius: 5px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

span {
    font-weight: bold;
}

.card-interesting-fact {
    font-style: italic;
}