/* add your CSS here */
.card {
    padding: 20px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    width: 350px;
    background-color: darkgreen;

}

.card-content {
    padding: 22px;
    background-color: whitesmoke;
    text-align: center;
}

.card-image {
    width: 300px;
    position: relative;
    height: 200px;
    margin-bottom: 10px;
}

.animate-card {
    animation-name: card;
    animation-duration:3s;
    /*animation-iteration-count: 1;*/
    animation-direction:reverse;
    animation-timing-function:linear;
    perspective:1000px;
}

@keyframes card {
    0% {transform:rotateY(0);}
    50% {transform:rotateY(180deg);}
    100%{transform:rotateY(360deg);}
}

.card-facts {
    padding: 10px;
    /*width: 300px;*/
    background-color: darkgreen;
    color: whitesmoke;
    border-radius: 5px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 5px;
}



/*.animate-card {*/
    /*transform: rotateY(180deg);*/
/*}*/

li:first-child {
    margin-top: 0;
}

span {
    font-weight: bold;
}

.card-interesting-fact {
    font-style: italic;
}